<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyA4TqlFbbCWVJrED0oOCa2-_tdRoj7Xjx8</string>
	<key>GCM_SENDER_ID</key>
	<string>511369017673</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.agendamentoClube</string>
	<key>PROJECT_ID</key>
	<string>agendamento-clube-31ec1</string>
	<key>STORAGE_BUCKET</key>
	<string>agendamento-clube-31ec1.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:511369017673:ios:4aea35735a4a1a1a254298</string>
	<key>DATABASE_URL</key>
	<string>https://agendamento-clube-31ec1-default-rtdb.firebaseio.com</string>
</dict>
</plist>